<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Banco</title>
  <link rel="stylesheet" href="resources/css/cerrar-seccion.css">
  <link rel="stylesheet" href="resources/css/lab3.css" />
  <script src="https://kit.fontawesome.com/5ab5f6a24c.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="menu">
    <div class="logo">
      <a href="#">Bank</a>
    </div>

    <nav>
      <ul>
        <li><a id="cuenta" href="#">Cuenta</a></li>
        <li><a id="inversiones" href="#">Inversiones</a></li>
        <li><a id="tarjetas" href="#">Tarjetas</a></li>
        <li><a id="prestamos" href="#">Prestamos</a></li>
        <li><a id="seguros" href="#">Seguros</a></li>
        <li><a id="remesas" href="#">Remesas, Impuestos y Servicios</a></li>
      </ul>
    </nav>
  </div>

  <div class="opciones" id="opciones">
    <div class="cuenta">
      <div class="box">
        <h4>Ahorros</h4>
        <p>Cuenta de Ahorro en Pesos</p>
        <p>Cuenta Ahorro Más</p>
        <p>Cuenta de Ahorro Infantil</p>
        <p>Cuenta de Ahorro Preserva</p>
        <p>Cuenta de Ahorro en Dólares</p>
        <p>Cuenta de Ahorro en Euros</p>

        <a href="#">Ver todos</a>
      </div>

      <div class="box">
        <h4>Corrientes</h4>
        <p>Cuenta Corriente Personal</p>
        <p>Cuenta Corriente Más Personal</p>

        <a href="#">Ver todos</a>
      </div>

    </div>

    <div class="inversiones">
      <div class="box">
        <h4>Cretificados</h4>
        <p>Certificados Financieros en pesos</p>
        <p>Depósito a Plazo en dólares y euros</p>

        <a href="#">Ver todos</a>
      </div>

      <div class="box">
        <h4>Mercado de valores</h4>
        <p>Inversiones en Títulos-Valores</p>
        <p>Fondos de Inversión</p>

        <a href="#">Ver todos</a>
      </div>

    </div>

    <div class="tarjetas">
      <div class="box">
        <h4>Débito</h4>
        <p>Mastercard Débito Standard</p>
        <p>Mastercard Débito Gold</p>
        <p>Mastercard Débito Platinum</p>
        <p>Mastercard Débito Dólares</p>

        <a href="#">Ver todos</a>
      </div>

      <div class="box">
        <h4>Crédito</h4>
        <p>Visa y Mastercard Clásica</p>
        <p>Visa y Mastercard Gold</p>
        <p>Visa Platinum Universe</p>
        <p>Visa y Mastercard Platinum</p>
        <p>Mastercard Black</p>
        <p>Visa Infinite</p>
        <p>Visa Flotilla Personal</p>
        <p>Credimás Banreservas</p>

        <a href="#">Ver todos</a>
      </div>
    </div>

    <div class="prestamos">
      <div class="box">
        <h4>Personal</h4>
        <p>Préstamos de Consumo</p>
        <p>Vacaciones Felices</p>
        <p>Educación y Cultura</p>
        <p>Sueldo Más</p>
        <p>Pensionado Feliz</p>
        <p>Préstamos en Dólares</p>

        <a href="#">Ver todos</a>
      </div>

      <div class="box">
        <h4>Hipotecarios</h4>
        <p>Préstamos Hipotecarios</p>

        <a href="#">Ver todos</a>
      </div>

      <div class="box">
        <h4>Vehiculos</h4>
        <p>Préstamos Vehiculos Nuevos</p>
        <p>Préstamos Vehiculos Usados</p>

        <a href="#">Ver todos</a>
      </div>
    </div>

    <div class="seguros">
      <div class="box">
        <h4>Seguros de Personas</h4>
        <p>Vida Reservas</p>
        <p>Viajes Reservas</p>
        <p>Asistencia Funeraria</p>
        <p>Accidentes Personales</p>
        <p>Vida Individual en Pesos y Dólares</p>
        <p>Seguro Médico Internacional Blueline</p>

        <a href="#">Ver todos</a>
      </div>

      <div class="box">
        <h4>Riesgos Generales</h4>
        <p>Vivienda Segura</p>
        <p>Vehiculos de Motor</p>
        <p>Rescate De Prisa</p>

        <a href="#">Ver todos</a>
      </div>
    </div>
  </div>

  <section class="contenedor">
    <div class="card">
      <div class="card-img">
        <img src="resources/img/ahorros.jpg" alt="" />
      </div>
      <div class="card-body">
        <h2 class="card-title">Ahorros</h2>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
          quaerat!
        </p>
        <a href="#" class="btn btn-primary">Saber más</a>
      </div>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="resources/img/PYME.jfif" alt="" />
      </div>
      <div class="card-body">
        <h2 class="card-title">PYME</h2>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
          quaerat!
        </p>
        <a href="#" class="btn btn-primary">Saber más</a>
      </div>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="resources/img/Tasa.jfif" alt="" />
      </div>
      <div class="card-body">
        <h2 class="card-title">Tasa de cambio</h2>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
          quaerat!
        </p>
        <a href="#" class="btn btn-primary">Saber más</a>
      </div>
    </div>
  </section>

  <div class="menu-2">
    <h3>Necesidades</h3>
    <div class="contenedor-menu-2">
      <div class="contenedor-item">
        <div class="icono-item">
          <img src="resources/img/item1.png" alt="" />
        </div>
        <div class="texto-item">
          <p>Amuebla tu casa</p>
        </div>
      </div>

      <div class="contenedor-item">
        <div class="icono-item">
          <img src="resources/img/item2.png" alt="" />
        </div>
        <div class="texto-item">
          <p>Compra el carro que deseas</p>
        </div>
      </div>

      <div class="contenedor-item">
        <div class="icono-item">
          <img src="resources/img/item3.png" alt="" />
        </div>
        <div class="texto-item">
          <p>Construye tu patrimonio</p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="contenedor-footer">
      <div class="contacto">
        <h3>Contacto</h3>
        <div class="tel">Teleforno: 809-000-0000</div>
        <div class="email">Correo: bank[@]gmail.com</div>
      </div>

      <div class="nosotros">
        <h3>Nosotros</h3>
        <div class="texto">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            nulla distinctio pariatur natus sequi tempora sit ut at iste est
            commodi consequuntur cumque, aspernatur facere fuga labore!
            Soluta, suscipit assumenda?

          </p>
        </div>
      </div>

      <div class="redes">
        <h3>Redes Sociales</h3>
        <div class="iconos">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></i></a>
        </div>
      </div>
    </div>
    <div class="creador">
      <p>Andy Manuel Reyes Del Rosario | 100488534</p>
    </div>
  </footer>
  <script src="resources/js/lab3.js"></script>
</body>

<% if (login){ %>
    <div class="container">
        <a href="logout" class="a-logout">Cerrar la sesion</a>
    </div>
    <% } else { %>
        <div class="container">
            <h2>
                <%= name %>
            </h2>
            <a href="login" class="a-login">Ir al Login</a>
        </div>
        <%}%>

</html>