<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario 2</title>
    <link rel="stylesheet" href="resources/css/cerrar-seccion.css">
    <link rel="stylesheet" href="resources/css/lab7.css" />
    <script src="resources/js/lab7a.js"></script>
</head>
<body>
    <div class="contenedor">
        <h1 class="titulo">Datos Parientes</h1>
        <div class="contenedor-formulario">
            <form action="" method="get" id="formulario2">

                <input type="text" name="nombrePariente" id="nombrePariente" placeholder="Nombre del Pariente">
                <select name="relacion" id="relacion">
                    <option value="">Relación</option>
                    <option value="padre">Padre</option>
                    <option value="madre">Madre</option>
                    <option value="hermano">Hermano</option>
                    <option value="hermana">Hermana</option>
                    <option value="abuelo">Abuelo</option>
                    <option value="abuela">Abuela</option>
                    <option value="tio">Tío</option>
                    <option value="tia">Tía</option>
                    <option value="primo">Primo</option>
                    <option value="prima">Prima</option>
                    <option value="suegro">Suegro</option>
                    <option value="suegra">Suegra</option>
                    <option value="cuñado">Cuñado</option>
                    <option value="cuñada">Cuñada</option>
                    <option value="sobrina">Sobrina</option>
                    <option value="sobrino">Sobrino</option>
                    <option value="nieto">Nieto</option>
                    <option value="nieta">Nieta</option>
                </select>

                <input type="text" name="edadPariente" id="edadPariente" placeholder="Edad del Pariente">

                <input type="text" name="telefonoPariente" id="telefonoPariente" placeholder="Telefono del Pariente">

                <input type="text" name="direccionPariente" id="direccionPariente" placeholder="Direccion del Pariente">


        
                <input name="enviar" class="enviar" type="submit" value="Enviar">
            </form>
        </div>
    </div>
    
</body>
</html>