<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafico</title>
    <link rel="stylesheet" href="resources/css/cerrar-seccion.css">
    <link rel="stylesheet" href="resources/css/lab8.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="resources/js/lab8.js"></script>
</head>
<body>
    <div class="contenedor">
        <h1 class="titulo">Formulario para Grafico</h1>
        <div class="contenedor-formulario">
        <form action="" id="formulario" class="formulario">
            <input type="text" name="nombre" id="nombre"  placeholder="Entidad:">
            <input type="text" name="cantidad" id="cantidad" placeholder="Cantidad:">

            <input type="button" value="Mostrar Grafico" id="otraEntidad">
            <input type="submit" class="submit" value="Enviar">
       
        </form>
        <div class="grafico" id="donutchart" ></div>
    </div>
</div>

</body>
<% if (login){ %>
    <div class="container">
        <a href="logout" class="a-logout">Cerrar la sesion</a>
    </div>
    <% } else { %>
        <div class="container">
            <h2>
                <%= name %>
            </h2>
            <a href="login" class="a-login">Ir al Login</a>
        </div>
        <%}%>

</html>